$widthSite: 1142px;
$colorDarkest: #000;
$colorlightest: #fff;
$colorMainOne: #222;
$colorMainTwo: #f16d7f;
$colorMainThird: #5d5d5d;
$gapBlocks: 30px;
$thirdSite: calc(($widthSite - $gapBlocks * 2) / 3);
$hightCard: 420px;
$widthBurgerMenu: 298px;
$colorFormBorder: #A4A4A4;
